.AußenstelleBrigittenauI {
  background-color: $orange;
}

.Außenstellenospace {
  background-color: $yellow;
}

.AußenstelleOttakring {
  background-color: $green;
}

.HauptstelleMetalab {
  background-color: $blue;
}

.AußenstelleWaffelkollektiv {
  background-color: $purple;
}
