{% extends "_page_boilerplate.html.j2" %}
{% block title %}404 :({% endblock %}

{% block content %}
  <img src="img/library.png" alt="Metalab Library Logo" id="mainLogo" class="rotate">
  <h2 class="subtitle is-2 has-text-centered">
    Die angeforderte Seite wurde nicht gefunden.
  </h2>
{% endblock content %}
