{% extends "_page_boilerplate.html.j2" %}
{% block title %}{{location}}{% endblock %}
{% block content %}
  <img src="{{logoUrl(location)}}" alt="{{location}} Logo" class="logo">
  <script src="js/featherlight.js"></script>

  {% for category in categories %}
    <div class="categoryContainer is-anchor" id="{{category | replace(" ", "")}}"><!-- categoryContainer start -->
      <h3 class="has-text-weight-bold subtitle is-2">
        {{category}}
      </h3>
      <div class="mediaContainer container is-fluid"><!-- mediaContainer start -->
        {% for medium in media %}
          {% if (medium.category == category) and (medium.location == location) %}
            {% include "medium/_base.html.j2" %}
          {% endif %}
        {% endfor %}
      </div><!-- mediaContainer end -->
    </div>
  {% endfor %}
{% endblock content %}
