{% extends "_page_boilerplate.html.j2" %}
{% block title %}{% trans %}Imprint{% endtrans %}{% endblock %}
{% block logoFileName %}img/library.png{% endblock %}

{% block content %}
  <p class="has-text-centered mt-5">
    Metalab<br>
    Rathausstraße 6<br>
    1010 Wien
  </p>
  <p class="has-text-centered">
    {{ _( "Phone" ) }}: <a href="tel:0043720002323">+43 720 00 23 23</a><br>
    {{ _( "Fax" ) }}: +43 1 22 600 45 - 10<br>
    {{ _( "Email" ) }}: <a href="javascript:linkTo_UnCryptMailto("nbjmup;cjcmjpuiflAmjtut/nfubmbc/bu");">bibliothek [at] lists [dot] metalab [dot] at</a><br>
    {{ _( "Web" ) }}: <a href="https://bibliothek.metalab.ac.at">https://bibliothek.metalab.ac.at</a>
  </p>
  <p class="has-text-centered">
    Verein zur Förderung der Erforschung und Bildung sozialer und technischer Innovationen - metalab<br>
    {{ _( "Relevant authority: Landespolizeidirektion Wien" ) }}<br>
    {{ _( "Registration number" ) }}: 269253896
  </p>
{% endblock content %}
