{% extends "_page_boilerplate.html.j2" %}
{% block title %}Metalab Library{% endblock %}

{% block content %}
  <img src="img/library.png" alt="{{libraryName}} Logo" id="mainLogo">
  <h2 class="title">
    Standorte
  </h2>
  <div class="tile is-ancestor">
    {% for location in locations %}
      <div class="card tile is-parent location">
        <div class="tile is-child">
          <a href="location_{{location | replace(" ", "")}}.html">
            <img src="{{logoUrl(location)}}" alt="{{location}} Logo - Lizenzen der Bilder: img/locations/licenses.txt" class="logo">
            <h2 class="subtitle">
              {{location}}
            </h2>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
