{% extends "_page_boilerplate.html.j2" %}
{% block title %}Metalab Library{% endblock %}
{% block logoFileName %}img/library.png{% endblock %}

{% block content %}
  <h2 class="title is-2 has-text-centered has-font-weight-normal">
    {{ _( 'Branch offices') }}
  </h2>
  <div class="tile is-ancestor">
    {% for location in locations %}
      <div class="card tile is-parent location has-hover">
        <div class="tile is-child">
          <a href="{{language}}_location_{{location | replace(" ", "")}}.html">
            <img src="{{logoUrl(location)}}" alt="{{location}} Logo - Lizenzen der Bilder: img/locations/licenses.txt" class="logo">
            <h2 class="subtitle has-text-weight-normal font-variant-small-caps is-3 has-text-centered">
              {{location}}
            </h2>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
