{% extends "_page_boilerplate.html.j2" %}
{% block title %}{% trans %}Search{% endtrans %}{% endblock %}
{% block logoFileName %}img/library.png{% endblock %}

{% block content %}
  <div class="is-small is-center">
    <div class="field has-addons">
	  <div class="control">
	    <input id="searchField" class="input" type="text" placeholder="{{ _( "Search term..." ) }}">
	  </div>
      <p class="help is-danger is-hidden" id="fourCharWarning">
	      {{ _( "Please enter more than four characters!" ) }}
      </p>
	  <div class="control">
	    <button id="search-button" class="button is-primary is-light" disabled>
		    {{ _( "Go!" ) }}
	    </button>
	  </div>
    </div>
    <div id="search-results">
      <ul id="result-list"></ul>
      <div class="notification is-danger is-hidden no-results">{{ _( "No results" ) }}!</div>
    </div>
  </div>
  <script src="js/es5-sham.js"></script>
  <script src="js/es5-shim.js"></script>
  <script src="js/lunr.js"></script>
  <script src="js/search.js"></script>
{% endblock content %}
