{% extends "_page_boilerplate.html.j2" %}
{% block title %}Suche{% endblock %}

{% block content %}
  <div class="is-small is-center">
    <div class="field has-addons">
	  <div class="control">
	    <input id="searchField" class="input" type="text" placeholder="Suchbegriff...">
	  </div>
      <p class="help is-danger is-hidden" id="fourCharWarning">
	    Bitte gib mehr als drei Zeichen ein!
      </p>
	  <div class="control">
	    <button id="searchButton" class="button is-primary is-light" disabled>
		  Los!
	    </button>
	  </div>
    </div>
    <div id="searchResults">
      <ul id="result-list"></ul>
    </div>
  </div>
  <script src="js/es5-sham.js"></script>
  <script src="js/es5-shim.js"></script>
  <script src="js/lunr.js"></script>
  <script src="js/search.js"></script>
{% endblock content %}
