a {
  &:link {
    text-decoration: none;
  }
}

.active {
  background: lightgrey !important;
  color: black !important;
  border-radius: 5px !important;
}

.important {
  color: $red !important;
}

.shadow {
  box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.5);

  p {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
