.listItem {
  page-break-inside: avoid;
  width: 95%;
  height: 95%;
  padding: 15px;
}

.mediaContainer {
  width: 100%;
  display: inline-grid;
  overflow: hidden;
}

/* Filter */
.filter {
  display: none;
}

.show {
  display: block;
}
