body {
  margin: 10px auto 0px auto;
  padding: 0 10px;
  font-family: Sans-serif;
}

header {
  height: auto;
}

h1,
h2,
h3 {
  display: block;
  margin: 10px auto 15px auto;
  text-align: center;
}

h4 {
  line-height: 1.2;
  margin-left: 0px;
}

p {
  margin: 5px 0 10px 0;
}

*::selection {
  color: white;
  background-color: black;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
  background-color: $footer-background-color;

  .is-pulled-left {
    margin-left: 15px;
  }

  .is-pulled-right {
    margin-right: 15px;
  }
}
