$navbar-background-color: hsl(0, 0%, 90%);
$footer-background-color: $navbar-background-color;
$footer-height: 30px;

$link: darkblue;
$text: black;

.tile {
  &.is-ancestor {
    margin-top: 0.75rem !important;
  }
}
