/* Print Version */
@media print {
  .screenOnly {
    display: none;
  }

  .filter {
    display: block;
  }

  .mediaContainer {
    grid-template-columns: 50% 50%;
  }

  .listItem {
    width: 95%;
  }

  .marginLeft {
    margin-left: 0px;
  }

  h4 {
    display: none;
  }
}

@media screen {
  .listItem {
    box-shadow: 1px 1px 5px black;
    margin-left: 1px;
  }

  .mediaContainer {
    padding-top: 10px;
    border-top: 2px black solid;
  }
}

/* Responsive */
@media screen and (min-width: 1080px) {
  .mediaContainer {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media screen and (max-width: 1080px) {
  .mediaContainer {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1080px) {
  .navbar-dropdown {
    max-height: 512px;
    overflow: auto;
  }
}

@media screen and (max-width: 1024px) {
  .desktopOnly {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .mediaContainer {
    grid-template-columns: 100%;
  }

  .desktopOnly {
    display: none;
  }

  .card {
    margin: 10px 0px 0px 0px;
  }
}
