.AußenstelleBrigittenauI {
  background-color: rgba(250, 235, 0, 0.2);
}

.Außenstellenospace {
  background-color: rgba(30, 255, 0, 0.2);
}

.AußenstelleOttakring {
  background-color: rgba(0, 255, 200, 0.2);
}

.HauptstelleMetalab {
  background-color: rgba(15, 0, 250, 0.2);
}

.AußenstelleWaffelkollektiv {
  background-color: rgba(250, 0, 0, 0.2);
}

#ebu_KE {
  font-family: "Comic Sans MS", cursive, sans-serif !important;

  p, .title, .subtitle {
    font-family: "Comic Sans MS", cursive, sans-serif !important;
  }
}
