a {
  &:link {
    text-decoration: none;
  }
}

.active {
  background: lightgrey !important;
  color: black !important;
  border-radius: 5px !important;
}

.important {
  color: $red !important;
}

.shadow {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);

  p {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

.has-hover {
  &:hover {
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.5);
  }
}

body,
.title,
.subtitle {
  color: $black;
}
