@font-face {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Condensed Light"), local("OpenSansCondensed-Light"),
       url("../fonts/open-sans-condensed-v15-latin-300.woff2") format("woff2"),
       url("../fonts/open-sans-condensed-v15-latin-300.woff") format("woff"),
       url("../fonts/open-sans-condensed-v15-latin-300.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed Bold"), local("OpenSansCondensed-Bold"),
       url("../fonts/open-sans-condensed-v15-latin-700.woff2") format("woff2"),
       url("../fonts/open-sans-condensed-v15-latin-700.woff") format("woff"),
       url("../fonts/open-sans-condensed-v15-latin-700.ttf") format("truetype");
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: local("EB Garamond"), local("EB-Garamond"),
    url("../fonts/eb-garamond-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/eb-garamond-v14-latin-regular.woff") format("woff"),
    url("../fonts/eb-garamond-v14-latin-regular.ttf") format("truetype");
}

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
  src: local("EB Garamond Italic"), local("EB-Garamond-Italic"),
    url("../fonts/eb-garamond-v14-latin-italic.woff2") format("woff2"),
    url("../fonts/eb-garamond-v14-latin-italic.woff") format("woff"),
    url("../fonts/eb-garamond-v14-latin-italic.ttf") format("truetype");
}

.font-variant-small-caps {
  font-variant: small-caps;
}

.font-variant-normal {
  font-variant: normal;
}
