@font-face {
  font-family: "Economica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Economica-Regular.woff2") format("woff2"),
    url("../fonts/Economica-Regular.woff") format("woff"),
    url("../fonts/Economica-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Economica";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Economica-Bold.woff2") format("woff2"),
    url("../fonts/Economica-Bold.woff") format("woff"),
    url("../fonts/Economica-Bold.ttf") format("truetype");
}

.font-variant-small-caps {
  font-variant: small-caps;
}

.font-variant-normal {
  font-variant: normal;
}
