.list-item {
  page-break-inside: avoid;
  width: 95%;
  height: 95%;
  padding: 15px;
}

.media-container {
  width: 100%;
  display: inline-grid;
  overflow: hidden;
}

.card {
  p {
    text-align: center;
  }
}

.logo {
  margin: auto;
  display: block;
  padding-top: 5px;
  max-height: 250px;
  border-radius: 5px;
}

.is-small {
  max-width: 75%;
}

.is-center {
  margin-left: auto;
  margin-right: auto;
}

.lightbox-wrapper {
  button {
    margin-bottom: 15px;
  }
}
