body {
  padding-bottom: $footer-height;
}

header {
  height: auto;
}

h1,
h2,
h3 {
  display: block;
  margin: 10px auto 15px;
}

h4 {
  line-height: 1.2;
  margin-left: 0;
}

p {
  margin: 5px 0 10px;
}

*::selection {
  color: white;
  background-color: $metalab-contrast;
}

abbr[title] {
  text-decoration: dotted underline;
  border-bottom: none;
  cursor: help;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 35;
  background-color: $footer-background-color;
  height: $footer-height;
  padding-top: 5px;

  .is-pulled-left {
    margin-left: 15px;
  }

  .is-pulled-right {
    margin-right: 15px;

    .locale-flag {
      img {
        width: auto;
        height: 20px;
      }
    }
  }

  img#build-status {
    position: absolute;
    margin-left: 5px;
  }
}
