#mainLogo {
  height: 300px;
  margin: 0 auto 15px auto;
  display: block;
}

/* Icons */
.iconEmail {
  content: url("img/icons/email.png");
  height: 15px;
}

.iconFax {
  content: url("img/icons/fax.png");
  height: 15px;
}

.lightboxContainer {
  display: none;

  .lightboxContent {
    display: block !important;
    min-width: 500px;

    .orderOptionContainer {
      width: 450px;
      margin: 15px auto 0 auto;
      text-align: center;

      .orderOption {
        width: 200px;

        img {
          width: 95px;
        }
      }
    }
  }
}

.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.is-anchor {
  scroll-margin-top: 100px;
}
