#Impressum,
#MetalabLibrary,
#Suche {
  max-height: 275px;
  margin: 0 auto 15px;
  display: block;
}
/* Icons */
.icon-email {
  content: url("img/icons/email.png");
  height: 15px;
}

.icon-fax {
  content: url("img/icons/fax.png");
  height: 15px;
}

.lightbox-container {
  display: none;

  .lightbox-content {
    display: block !important;
    min-width: 500px;

    .order-option-container {
      width: 450px;
      margin: 15px auto 0;
      text-align: center;

      .order-option {
        width: 200px;

        img {
          width: 95px;
        }
      }
    }
  }
}

.medium-location {
  display: none;
}

.display-location {
  .medium-location {
    display: block;
  }
}

#Error404,
.rotate {
  animation: rotation 5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.is-anchor {
  scroll-margin-top: 100px;
}

#backToTop {
  display: inline-block;
  background-color: $metalab-orange;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: ($footer-height+25px);
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  img {
    height: 40px;
    margin: 5px auto 5px auto;
  }

  &:hover {
    cursor: pointer;
    background-color: $metalab-lightblue;
  }

  &:active {
    background-color: $metalab-darkblue;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
