$navbar-background-color: hsl(0, 0%, 90%);
$footer-background-color: $navbar-background-color;
$footer-height: 30px;
$desktop: 1200px;

$size-small: 0.9rem;
$size-normal: 1rem;
$size-medium: 1.25rem;
$size-large: 1.5rem;

$body-font-size: $size-normal;
$small-font-size: ($body-font-size - 0.25);
$body-line-height: 1.25;

$size-1: ($body-font-size + 1.25);
$size-2: ($body-font-size + 1);
$size-3: ($body-font-size + 0.75);
$size-4: ($body-font-size + 0.5);
$size-5: ($body-font-size + 0.25);
$size-6: $body-font-size;
$size-7: ($body-font-size - 0.25);

$metalab-lightblue: rgb(28, 54, 84);
$metalab-darkblue: rgb(24, 46, 70);
$metalab-contrast: rgb(51, 75, 106);
$metalab-orange: rgb(204, 100, 39);

$text: $metalab-darkblue;
$primary: $metalab-lightblue;
$link: $metalab-orange;
$green: darkgreen;

$family-primary: "EB Garamond", "Times New Roman", Times, serif;
$family-secondary: $family-primary;

$random: (random(10)+2);

.tag:not(body) {
  font-size: $size-small;
}

.title, .subtitle {
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
}

.tile {
  &.is-ancestor {
    margin-top: 0.75rem !important;
  }
}

.tags {
    margin-bottom: 0.2em !important;
}

.card {
  background: rgba(255, 255, 255, 0.1) !important;
}
