/* Print Version */
@media print {
  .screen-only {
    display: none;
  }

  .filter {
    display: block;
  }

  .media-container {
    grid-template-columns: 50% 50%;
  }

  .list-item {
    width: 95%;
  }

  h4 {
    display: none;
  }
}

@media screen {
  .list-item {
    box-shadow: 1px 1px 5px black;
    margin-left: 1px;
  }

  .media-container {
    padding-top: 10px;
    border-top: 2px black solid;
  }

  #result-list > li {
    box-shadow: 1px 1px 5px black;
  }
}

/* Responsive */
@media screen and (min-width: 1080px) {
  .media-container {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .navbar-dropdown {
    max-height: 512px;
    overflow: auto;
  }
}

@media screen and (max-width: 1080px) {
  .media-container {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 1024px) {
  .desktopOnly {
    display: none;
  }

  .navbar-item {
    &.has-dropdown {
      .navbar-dropdown {
        display: none;
      }

      &.is-active {
        .navbar-dropdown {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .media-container {
    grid-template-columns: 100%;
  }

  .card {
    margin: 10px 0 0;
  }
}
