<div class="is-block">
  <span class="tags has-addons mt-2">
    <span class="tag">{{ _( 'Lendable' )) }}?</span>
    {% if medium.isLendable.lower() == "ja" %}
      <span class="tag is-success">{{ _( 'Yes' )) }}</span>
    {% else %}
      <span class="tag is-danger">{{ _( 'No' )) }}</span>
    {% endif %}
  </span>
</div>
