<p class="mt-0 mb-0"><!-- _isbn.html.j2 start -->
  <abbr title="{{ _( 'International Standard Book Number' ) }}">{{ _( 'ISBN' ) }}</abbr>: <a href="https://www.justbooks.de/search/?isbn={{medium.isbn}}&new_used=*&destination=at&currency=EUR&mode=basic&st=sr&ac=qr" target="_blank">
      {{formatIdentifier(medium.isbn, "isbn")}}
  </a>
</p><!-- _isbn.html.j2 end -->
