<p>
    ISBN: <a href="https://www.justbooks.de/search/?isbn={{medium.isbn}}&new_used=*&destination=at&currency=EUR&mode=basic&st=sr&ac=qr" target="_blank">
      {{formatIdentifier(medium.isbn, "isbn")}}
  </a>
</p>
