<p><!-- _issn.html.j2 start -->
  <abbr title="{{ _( 'International Standard Serial Number' ) }}">{{ _( 'ISSN' ) }}</abbr>: <a href="https://portal.issn.org/resource/ISSN/{{medium.issn}}" target="_blank">
    {{formatIdentifier(medium.issn, "issn")}}
  </a>
</p><!-- _issn.html.j2 end -->
