<p class="mt-0 mb-0"><!-- _medium-location-details.j2 start -->
  {{ _( 'Media Type' ) }}: {{medium.mediaType}}<br>
</p>
  {% include "medium/_is-lendable.html.j2" %}
  {% include "medium/_metalab-pickup.html.j2" %}
<!-- _medium-location-details.j2 end -->
