<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Metalab Library OPAC - 404
    </title>
  </head>

  <body class="has-navbar-fixed-top">
    {% include "_menu.html" %}
    <div id="mainContainer">
      <h1 class="title">
        404 :(
      </h1>
      <img src="img/library.svg" alt="Metalab Library Logo" id="mainLogo" class="rotate">
      <h2 class="subtitle">
        Die angeforderte Seite wurde nicht gefunden.
      </h2>
    </div>
    {% include "_footer.html" %}
  </body>
</html>
