<footer class="is-hidden-mobile">
  <div class="content">
    <p class="is-clearfix">
      <span class="is-pulled-left">
        <a href="https://metalab.at/" target="_blank">Metalab</a> Library | <a href="https://metalab.at/wiki/Impressum" target="_blank">Impressum</a> | <a href="https://github.com/Metalab/library-opac/" target="_blank">Source Code</a>
      </span>
      <span class="is-pulled-right">
        Mit dem Stand vom: {{generationTime}}
      </span>
    </p>
  </div>
</footer>
<script src="js/jquery-3.5.1.js"></script>
<script src="js/menu.js"></script>
