{% extends "_page_boilerplate.html" %}
{% block title %}{{location}}{% endblock %}
{% block content %}
  <img src="{{logoUrl(location)}}" alt="{{location}} Logo" class="logo">
  <script src="js/featherlight.js"></script>

  {% for category in categories %}
    <div class="categoryContainer is-anchor" id="{{category | replace(" ", "")}}"><!-- categoryContainer start -->
      <h3 class="has-text-weight-bold subtitle is-4">
        {{category}}
      </h3>
      <div class="mediaContainer container is-fluid"><!-- mediaContainer start -->
        {% for medium in media %}
          {% if (medium.category == category) and (medium.location == location) %}
            <div class="listItem is-anchor" id="{{medium.itemBarcode}}">
              <h4 class="title is-5">
                {{medium.name}}
              </h4>
              {% if (medium.authorFirstName) and (medium.authorLastName) %}
                <p>
                  Von: <strong><a href="http://gnd.eurospider.com/s?q={{medium.authorFirstName | urlencode}}+{{medium.authorLastName | urlencode}}" target="_blank">
                    {{medium.authorFirstName}} {{medium.authorLastName}}
                  </a></strong>
                </p>
              {% endif %}
              {% if medium.publisher %}
                <p class="mt-0 mb-0">
                  Herausgeber: {{medium.publisher}}
                </p>
              {% endif %}
              {% if medium.year %}
                <p class="mt-0 mb-0">
                  Jahr: {{medium.year}}
                </p>
              {% endif %}
              <p>
                Medientyp: {{medium.mediaType}}<br>
                <div class="is-inline-block">
                  <span class="tags has-addons mt-2">
                    <span class="tag">Entlehnbar?</span>
                    {% if medium.isLendable.lower() == "ja" %}
                      <span class="tag is-success">Ja</span>
                    {% else %}
                      <span class="tag is-danger">Nein</span>
                    {% endif %}
                  </span>
                </div>
                {% if medium.location.lower() | replace(" ", "") != "hauptstellemetalab" %}
                  <div class="is-inline-block">
                    <span class="tags has-addons mt-2">
                      <span class="tag">Lieferung zur Hauptstelle?</span>
                      {% if medium.isMetalabPickupPossible.lower() == "ja" %}
                        <span class="tag is-success">Ja</span>
                      {% elif (medium.isMetalabPickupPossible.lower() == "nein") or ((medium.isLendable.lower() == "nein")) %}
                        <span class="tag is-danger">Nein</span>
                      {% else %}
                        <span class="tag is-warning">Fraglich</span>
                      {% endif %}
                    </span>
                  </div>
                  {% if medium.isMetalabPickupPossible.lower() == "ja" %}
                    <div class="lightbox-wrapper is-inline-block">
                      <button class="button is-primary is-light" data-featherlight="#lightbox-{{medium.itemBarcode}}">Bestellung</button>
                      <div id="lightbox-{{medium.itemBarcode}}" class="lightbox-container">
                        <div class="lightbox-content">
                          <h1 class="title is-2">
                            {{medium.name}}
                          </h1>
                          <div class="flex-container">
                            <div class="orderOption is-inline-block">
                              <a href="mailto:bibliothek@lists.metalab.at?subject=Bestellung%20{{medium.itemBarcode}}&body=Buchbestellung%0D%0A%0D%0ABarcode%3A%20{{medium.itemBarcode}}%0D%0ATitel%3A%20{{medium.name | urlencode}}%0D%0AVon%3A%20{{medium.authorFirstName | urlencode}}%20{{medium.authorLastName | urlencode}}%0D%0AISBN%3A%20{{medium.isbn}}%0D%0A%0D%0A">
                                <img src="img/icons/email.png" alt="Bestellung per Email">
                                <h2 class="title is-4">
                                  Email
                                </h2>
                              </a>
                            </div>
                            <div class="orderOption is-inline-block">
                              <img src="img/icons/fax.png" alt="Bestellung per Fax">
                              <h2 class="title is-4">
                                Fax
                              </h2>
                              <p>
                                +431226004510
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
              </p>
              {% if medium.isbn %}
                <p>
                    ISBN: <a href="https://www.justbooks.de/search/?isbn={{medium.isbn}}&new_used=*&destination=at&currency=EUR&mode=basic&st=sr&ac=qr" target="_blank">
                    {{formatIdentifier(medium.isbn, "isbn")}}
                  </a>
                </p>
              {% endif %}
              {% if medium.issn %}
                <p>
                  ISSN: <a href="https://portal.issn.org/resource/ISSN/{{medium.issn}}" target="_blank">
                    {{formatIdentifier(medium.issn, "issn")}}
                  </a>
                </p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div><!-- mediaContainer end -->
    </div>
  {% endfor %}
{% endblock content %}
