<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Metalab Library OPAC - {{location}}
    </title>
  </head>

  <body class="has-navbar-fixed-top">
    {% include "_menu.html" %}
    <div id="mainContainer">
      <div class="locationContainer" id="{{location | replace(" ", "")}}"><!-- locationContainer start -->
        <h2 class="strong title is-3">
          {{location}}
          <img src="{{logoUrl(location)}}" alt="{{location}} Logo - For license information see img/aussenstellen/licenses.txt" class="logo">
        </h2>

      </div><!-- locationContainer end -->
    </div><!-- mainContainer end -->
  </body>
  {% include "_footer.html" %}
</html>
