<header class="screenOnly">
  <nav class="navbar is-fixed-top is-transparent" aria-label="dropdown navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="img/metalab.svg" alt="{{libraryName}} Logo">
      </a>

      <a role="button" id="navbar-burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainNav" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item is-hidden-desktop">
          <div class="buttons">
            <a class="button is-link is-light" href="search.html">
              Suche
            </a>
          </div>
        </div>
        {% for menuLocation in locations %}
          <div class="navbar-item has-dropdown is-hoverable {% if location == menuLocation %}active{% else %}not-active{% endif %}">
            <a class="navbar-link" href="location_{{menuLocation | replace(" ", "")}}.html">
              {{menuLocation}}
            </a>
            <div class="navbar-dropdown">
              {% for locationTmp, categories in locationsAndCategories.items() %}
                {% if locationTmp == menuLocation %}
                  {% for category in categories %}
                    <a class="navbar-item" href="location_{{menuLocation | replace(" ", "")}}.html#{{category | replace(" ", "")}}">
                      {{category}}
                    </a>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <div class="is-hidden-desktop">
          <span class="navbar-item">
            Mit dem Stand vom: {{generationTime}}
          </span>
          <a href="imprint.html" class="navbar-item">
            Impressum
          </a>
          <a href="https://github.com/Metalab/library-opac" target="_blank" class="navbar-item">
            Source Code
          </a>
        </div>
      </div>
      <div class="navbar-end is-hidden-mobile">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-link is-light" href="search.html">
              Suche
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
