<header class="screenOnly">
  <nav class="navbar is-fixed-top" aria-label="Hauptmenü">
    <div class="navbar-brand">
      <a class="navbar-item" target="_blank" href="https://metalab.at/">
        <img src="img/logo.svg" height="28" alt="Metalab Library Logo">
      </a>

      <a role="button" id="navbar-burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainNav" class="navbar-menu">
      <div class="navbar-start">
        {% for location in locations %}
          <a class="navbar-item" href="#{{location | replace(" ", "")}}">
            {{location}}
          </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>
