<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="css/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Metalab Library OPAC
    </title>
    {% include "_header.html" %}
  </head>

  <body onload="redirectOrUpdateVisible()" onhashchange="redirectOrUpdateVisible();" class="has-navbar-fixed-top">
    <div id="mainContainer">

    </div>
  </body>
  {% include "_footer.html" %}
</html>
