<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="css/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Metalab Library OPAC
    </title>
  </head>

  <body onload="redirectOrUpdateVisible()" onhashchange="redirectOrUpdateVisible();" class="has-navbar-fixed-top">
    {% include "_menu.html" %}
    <div id="mainContainer">
      {% for location, categories in records.items() %}
        <h2>{{location}}</h2>

        {% for category in categories%}
          <h3>{{category}}</h3>

          {% for book in books %}
            {% if book.category == category %}
                 <p>{{book}}</p>
            {% endif %}

          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>
  </body>
  {% include "_footer.html" %}
</html>
