{% extends "_page_boilerplate.html" %}
{% block title %}Suche{% endblock %}

{% block content %}
  <div class="columns">
    <div class="column is-one-third">
      <h2>
        Eingabe
      </h2>
      <div class="field has-addons">
        <div class="control">
          <input id="searchField" class="input" type="text" placeholder="Suchbegriff...">
        </div>
        <p class="help is-danger is-hidden" id="fourCharWarning">
          Bitte gib mehr als drei Zeichen ein!
        </p>
        <div class="control">
          <button id="searchButton" class="button is-primary" disabled>
            Los!
          </button>
        </div>
      </div>
    </div>
    <div class="column">
      <div id="searchResults">
        <h2>
          Ausgabe
        </h2>
        <ul id="resultList"></ul>
      </div>
    </div>
  </div>
  <script src="js/es5-sham.js"></script>
  <script src="js/es5-shim.js"></script>
  <script src="js/lunr.js"></script>
  <script src="js/search.js"></script>
{% endblock content %}
